<section class="top-bar-section">
	<ul class="right">
		<% if user_signed_in? %>
		  <% current_user_id = current_user.id.to_s() %>
		  <%  if current_user.user_type == "student" %>
		    <li>
		      <%= link_to 'Profile', student_profile_path(current_user_id), :class => 'navbar-link' %>
		    </li>
		    <li>
		      <%= link_to 'Edit Profile', edit_student_profile_path(current_user_id), :class => 'navbar-link' %>
		    </li>
		    <li>
		       <%= link_to 'Browse Companies', company_profiles_path, :class => 'navbar-link' %>
		    </li>
		    <li>
		      <%= link_to 'Browse Jobs', job_postings_path, :class => 'navbar-link' %>
		    </li>
		    <li>
		    	<%= link_to 'Search for Jobs', search_job_postings_path, :class => 'navbar-link' %>
		    </li>
		  <% elsif current_user.user_type == "company" %>
			 <li>
			 	<%= link_to 'Post Jobs', new_job_posting_path, :class => 'navbar-link'  %>
			 </li>	
		     <li>
		       <%= link_to 'Profile', company_profile_path(current_user_id), :class => 'navbar-link' %>
		     </li>
		     <li>
		       <%= link_to 'Browse Candidates', student_profiles_path, :class => 'navbar-link' %>
		     </li>
		     <li>
		     	<%= link_to 'Search for Candidates',search_student_profiles_path, :class => 'navbar-link' %>
		     </li>
		  <% else %>
		      <!-- #something to do here for admin -->
		  <% end %>
		<% end %>
	</ul>
</section>