<h1>Listing stu_interests</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stu_interests.each do |stu_interest| %>
      <tr>
        <td><%= stu_interest.description %></td>
        <td><%= link_to 'Show', stu_interest %></td>
        <td><%= link_to 'Edit', edit_stu_interest_path(stu_interest) %></td>
        <td><%= link_to 'Destroy', stu_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stu interest', new_stu_interest_path %>
