<div class="center">
  <h2>Your Purchase History</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Image</th>
    <th class="center">Item</th>
    <th class="center">Price</th>
    <th class="center">Seller</th>
    <th class="center">Date Purchased</th>
  </tr>
  <% @job_applications.each do |job_application| %>
  <tr>
    <td class="center"><%= image_tag job_application.job_posting.image.url(:thumb)%></td>
    <td class="center"><%= job_application.job_posting.tilte %></td>
    <td class="center"><%= number_to_currency(job_application.job_posting.tilte) %></td>
    <td class="center"><%= job_application.seller.company_name %></td>
    <td class="center"><% job_application.created_at.strftime("%B %-d, %Y")%></td>
  </tr>
  <%end%>
</table>

<br>
<% if (user_signed_in?) %>
<%= link_to 'New job_posting', new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>
<% end %>
