<div class = "intropage">
	

	
	<div class="row">
		<div class="small-12 medium-12 large-12 columns" >
			<%= image_tag 'cover.png' %>
		</div>
	</div>
	
	
	<div class="toptext">
	<p>Connecting Employers with Interns</p>
	</div>
	

	<div class = "companies">

	<div class="text">
	<p>A Few of the Companies</p>
	</div>
		<div class="row">

			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'maxresdefault.jpg'%></div>
			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'maxresdefault.jpg'%></div>
			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'maxresdefault.jpg'%></div>
			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'maxresdefault.jpg'%></div>
			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'maxresdefault.jpg'%></div>
			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'maxresdefault.jpg'%></div>

		</div>

		
	</div>

</div>