<div class = "intropage">
	<div class="row">
		<div class="small-12 medium-12 large-12 columns" >
			<%= image_tag "https://s3-us-west-2.amazonaws.com/stutern/cover.png" %>
		</div>
	</div>

	<div class = "companies">

	<div class="text">
	<p>A Few of the Companies</p>
	</div>
		<div class="row">

			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'https://s3-us-west-2.amazonaws.com/stutern/footer_images/Apple-logo-jpg.jpg'%></div>
			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'https://s3-us-west-2.amazonaws.com/stutern/footer_images/BCG.png'%></div>
			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'https://s3-us-west-2.amazonaws.com/stutern/footer_images/Edward-Jones-Logo.png'%></div>
			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'https://s3-us-west-2.amazonaws.com/stutern/footer_images/Google_logo.png'%></div>
			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'https://s3-us-west-2.amazonaws.com/stutern/footer_images/SAS_Institute_logo.png'%></div>
			<div class="small-4 medium-2 large-2 columns pix"><%=image_tag 'https://s3-us-west-2.amazonaws.com/stutern/footer_images/gtbank.jpg'%></div>

		</div>

		
	</div>

</div>