<p id="notice"><%= notice %></table>

<!-- <h1>We are <br><%# @company_profile.company_name.upcase %></h1> -->
<h1>Company Profile</h1>
<table>
  <% image_tag @company_profile.image_url %>
  <th>Company name:</th>
  <td><%= @company_profile.company_name %></td>
</table>

<table>
  <th>Email:</th>
  <td><%= @company_profile.user.email %></td>
</table>

<table>
  <th>Description:</th>
  <td><%= @company_profile.description %></td>
</table>

<table>
  <th>Company type:</th>
  <td><%= @company_profile.company_type %></td>
</table>

<table>
  <th>Number of employees:</th>
  <td><%= @company_profile.number_of_employees %></td>
</table>

<table>
  <th>Website:</th>
  <td><%= @company_profile.website %></td>
</table>

<table>
  <th>Location:</th>
  <td><%= @company_profile.location %></td>
</table>

<table>
  <th>Reg code:</th>
  <td><%= @company_profile.reg_code %></td>
</table>

<!-- <table>
  <th>Verified:</th>
  <td><%= @company_profile.verified %></td>
</table> -->


<%= link_to 'Edit', edit_company_profile_path(@company_profile) %> |
<%= link_to 'Back', :back %>
