<div class="site-content">
  <!-- next -->
  <p id="notice"><%= notice %></table>
  <% if @company_profile.company_name.nil? && @company_profile.description.nil? && @company_profile.company_type.nil? && @company_profile.number_of_employees.nil? && @company_profile.website.nil? && @company_profile.location.nil? && @company_profile.reg_code.nil? && @company_profile.image_url.nil? %>

  Incomplete profile! <%= link_to 'Profile', edit_company_profile_path(@company_profile) %>
  <% else %>
    
      <!-- top card -->
  <div class="top-card">
    <div class="row"> 
      <div class="large-12 small-12 columns">
        <div class="panel">
          <div class="row">
            <!--profile_image-->
            <div class="large-4 small-4 columns">
              <div class="profile_image">
                <%= image_tag @company_profile.image_url(:thumb) %>
              </div>
            </div>
 
            <div class="large-8 small-8 columns">
              <div class='company_name'>
                <div class="row">
                  <div class="large-12 small-12 columns">
                    <p><%= @company_profile.company_name %></p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="large-12 small-12 columns">
                <a class = 'editbutton'><%= link_to 'Edit', edit_company_profile_path(@company_profile) %></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="mid-card">
    <!--no_of_employees-->  
    <div class='row'>
      <div class="large-12 small-12 large-centered small-centered columns">
        <div class = 'panel'>
          <div class="company_facts">
            <i class ='no_of_employees'>
            <i class="fa fa-university"></i><a class = 'fact_a_content'><%= @company_profile.number_of_employees %></i>
            </a>
            <i class ='company_type'>
            <i class="fa fa-graduation-cap"></i>
            <a class = 'fact_a_content'><%= @company_profile.company_type %></a>
            </i>
          </div>
        </div>
     </div>
    </div>


  <div class="bottom-card">
    <div class="row"> 
      <div class="large-12 small-12 columns">
        <div class="panel">

          <!-- brief -->
          <div class="row">
            <div class="large-12 small-12 columns">
              <div class = "description">
                <!-- description_title -->
                <div class ="description_title">
                  <p>FEW WORDS ABOUT US</p>
                </div>
                <!-- description_content -->
                <div class="description_content">
                  <%= @company_profile.description %>
                </div>
              </div>
            </div>
          </div>

          <!-- contact -->
          <div class="row">
            <div class="large-12 small-12 columns">
              <div class="contact">
                <!-- _contact_title -->
                <div class="contact_title">
                  <p>OUR OFFICES</p>
                </div>
                <!-- contact_content -->
                <div class="contact_content">
                <p><%= @company_profile.user.email %></p>
                <p><%= @company_profile.website %></p>
                <p><%= @company_profile.location %></p>
                <p><%= @company_profile.reg_code %></p>
                </div>
              </div>
            </div><hr>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

</div>