<p id="notice"><%= notice %></tr>

<h3>Candidate Profile</h3>
<table>
  <%= image_tag @student_profile.image_url.to_s %>
  <tr>
    <th>First name:</th>
    <td><%= @student_profile.first_name %></td>
  </tr>

  <tr>
    <th>Last name:</th>
    <td><%= @student_profile.last_name %></td>
  </tr>

  <tr>
    <th>School:</th>
    <td><%= @student_profile.school %></td>
  </tr>

  <!-- <tr>
    <th>Email:</th>
    @student_profile.email
  </tr>
   -->
  <tr>
    <th>Expected graduation:</th>
    <td><%= @student_profile.expected_graduation %></td>
  </tr>

  <tr>
    <th>School year:</th>
    <td><%= @student_profile.school_year %></td>
  </tr>

  <tr>
    <th>Last completed degree:</th>
    <td><%= @student_profile.last_completed_degree %></td>
  </tr>

  <tr>
    <th>Residential address:</th>
    <td><%= @student_profile.residential_address %></td>
  </tr>

  <tr>
    <th>Major:</th>
    <td><%= @student_profile.major %></td>
  </tr>

  <tr>
    <th>Resume:</th>
    <td><%= @student_profile.resume %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_student_profile_path(@student_profile) %> |
<%= link_to 'Back', student_profiles_path %>
