<div class="site-content">

  <p id="notice"><%= notice %></p>

  <!-- candidate profile top bar
  <div class="candidate_profile">
    <div class="panel">
      <div class='row'>
        <div class="large-12 small-12 columns">
           Candidate's Profile 
          <h3>Profile</h3>
        </div>
        </div>
    </div>
  </div>
-->
  <!-- top card -->
  <div class="top-card">
    <div class="row"> 
      <div class="large-12 small-12 columns">
        <div class="panel">
          
          <!-- approx 33% of top_card profile image -->
            
            <div class="row">
              
              <!-- image -->
              <div class="large-4 small-4 columns">
              <div class="profile_image">
                <%= image_tag @student_profile.image_url(:thumb) %>
              </div>
              </div>
               
              <div class="large-8 small-8 columns">
              <div class = 'profile_overview'>
                
                <!-- Name -->
                <div class='intern_name'>
                  <div class="row">
                     <div class="large-12 small-12 columns">
                      <p><%= @student_profile.first_name %> <%= @student_profile.last_name %></p>
                     </div>
                  </div>
                </div>
                
                <!-- Education/University -->
                <div class='education'>
                  <div class="row">
                    <div class="large-12 small-12 columns">
                      <i class="fa fa-university"></i><p><%= @student_profile.school %> <%='|'%> <%= @student_profile.major %></p>
                    </div>
                   </div>
                 </div>

               <!-- Major 
               <div class='major'>
                 <div class="row">
                    <div class="large-12 small-12 columns">
                      <i class="fa fa-star"></i><p><%= @student_profile.major %></p>
                    </div>
                  </div>
                </div>
               

                Email 
                <tr>
                  <th>Email:</th>
                  <td><%= @student_profile.user.email %></td>
                </tr>
                
                Edit Profile
                <%# if current_user.id == @student_profile.user_id.to_i %>
                <td><%# link_to 'Edit Profile', edit_student_profile_path %></td>
                <%# end %>
                -->
                
                <!-- School Year % Graduation-->
                <div class='year_graduation'>
                  <div class="row">
                    <div class="large-12 small-12 columns">
                        <i class="fa fa-graduation-cap"></i><p><%= @student_profile.school_year %> <%= '-' %> <%= @student_profile.expected_graduation %></p>
                    </div>
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

  <!-- bottom card -->
  <div class="bottom-card">
    <div class="row"> 
      <div class="large-12 small-12 columns">
        <div class="panel">
          
          <!-- bio_header -->
          <div class="large-12 small-12 columns">
            <div class="bio_header">
              <h3> <%= @student_profile.first_name %> <%="'s"%> Bio </h3>
            </div>
          </div>

          <!-- brief (2_children)-->
          <div class="large-12 small-12 columns">
            <div class = "brief">
              <!-- child1: brief_title -->
              <div class ="brief_title">
                <p>Brief</p>
              </div>
              <!-- child2: brief_content -->
              <div class="brief_content">
                <%= @student_profile.resume %>
              </div>
            </div>
          </div>

          
          <!-- experience (2_children)-->
          <div class="large-12 small-12 columns">
            <div class = "experience">
              <!-- child1: experience_title -->
              <div class ="experience_title">
                <p>Experience</p>
              </div>
              <!-- child2: experience_content -->
              <div class="experience_content">
                <div id="intern_experience">
                  
                  <% if !@student_profile.stu_work_experiences.empty? %>

                    

                    <% @work_histories.each do |work_history| %>

                    <!-- position -->
                    <%= work_history.position %>

                    <!-- company -->
                    <%= work_history.company %>

                    <!-- start & end dates -->
                    <%= work_history.start_date %> | <%= work_history.end_date %>

                    <!-- description -->
                    <%= work_history.description %>

                    <% if current_user.id == @student_profile.user_id.to_i %>
                    <p><%= link_to 'Edit', edit_stu_work_experience_url(work_history) %></p>
                    <p><%= link_to 'Destroy',  work_history, :method => :delete, :confirm => 'Are you sure?' %></p>
                    <% end %>

                  <% end %>

                  <% else %>
                    <p>No work experiences have been added yet!</p>
                  <% end %>
                  
                  <% if current_user.id == @student_profile.user_id.to_i %>
                      <%= link_to 'Add Work Experience', new_stu_work_experience_url %>
                  <% end %>
                  
                </div>
              </div>
            </div>
          </div>
          
          <!-- education -->
          <div class="education">
            <h3>EDUCATION</h3>
            <p>Summary</p>
            <p>Objective</p>
          </div>
          
          <!-- skills -->
          <div class="skills">
            <h3>SKILLS & CERTIFICATION</h3>
            <p>Skills</p>
              <ul>
                <li>
                
                </li>
              </ul>
            <p>Certification</p>
              <ul>
                <li>
                
                </li>
              </ul>
          </div>

          <div class="Interest">
            <h3>Interest</h3>
            <ul>
              <li>
                
              </li>
            </ul>
          </div>

          <div class="Reference">
            <h3>BACKGROUND</h3>
            <p>Summary</p>
            <p>Objective</p>
          </div>
          
          <div id="intern_last_completed_Degree">
            <table>
              <tbody>
                <tr>
                  <th>Last completed degree:</th>
                  <td><%= @student_profile.last_completed_degree %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="intern_residential_Address">
          <h3>Residential address:</h3><hr>
            <table>
              <tbody>
                  <tr>
                    <th>
                      <td><%= @student_profile.residential_address %></td>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="intern_education_peronal_Resume">
            <h3>Resume</h3><h
            <table>
              <tbody>
                <tr>
                  <th>
                    <td><%= @student_profile.resume %></td>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Skills -->
          <div id="intern_skills">
              <h3>Skills</h3><hr>
              <% if !@student_profile.skills.empty? %>
              <table>
                <tr>
                  <th>Description</th>
                  <% if current_user.id == @student_profile.user_id.to_i %>
                  <th></th>
                  <th></th>
                  <% end %>
                </tr>

                <% @skills.each do |skill| %>
                  <tr>
                    <td><%= skill.description %></td>
                    <% if current_user.id == @student_profile.user_id.to_i %>
                    <td><%= link_to 'Edit', edit_skill_url(skill) %></td>
                    <td><%= link_to 'Destroy', skill, :method=>:delete, :confirm=>'Are you sure?' %></td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            <% else %>
              <p>No skills have been added yet!</p>
            <% end %>
            <br/>
            <% if current_user.id == @student_profile.user_id.to_i %>
              <%= link_to 'Add A Skill', new_skill_url %>
            <% end %>
          </div>

          <!-- Reference -->
          <div id="intern_references">
            <h3>Reference</h3><hr>
            <% if !@student_profile.stu_references.empty? %>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Relationship</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <% if current_user.id == @student_profile.user_id.to_i %>
                  <th></th>
                  <th></th>
                  <% end %>
                </tr>

                <% @references.each do |reference| %>
                <tr>
                  <td><%= reference.name %></td>
                  <td><%= reference.relationship %></td>
                  <td><%= reference.phone %></td>
                  <td><%= mail_to reference.email %></td>

                  <% if current_user.id == @student_profile.user_id.to_i %>

                  <td><%= link_to 'Edit', edit_stu_reference_url(reference) %></td>
                  <td><%= link_to 'Destroy', reference, :method=>:delete, :confirm=>'Are you sure?' %></td>
                  <% end %>
                </tr>
                <% end %>
              </table>
            <% else %>
              <p>No references have been added yet!</p>
            <% end %>
            <br />

            <% if current_user.id == @student_profile.user_id.to_i %>
              <%= link_to 'Add A Reference', new_stu_reference_url %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div> 