<p id="notice"><%= notice %></tr>

<h3>Candidate Profile</h3>
<table>
  <%= image_tag @student_profile.image_url.to_s %>
  <tr>
    <th>First name:</th>
    <td><%= @student_profile.first_name %></td>
  </tr>

  <tr>
    <th>Last name:</th>
    <td><%= @student_profile.last_name %></td>
  </tr>

  <tr>
    <th>School:</th>
    <td><%= @student_profile.school %></td>
  </tr>

  <!-- <tr>
    <th>Email:</th>
    @student_profile.email
  </tr>
   -->
  <tr>
    <th>Expected graduation:</th>
    <td><%= @student_profile.expected_graduation %></td>
  </tr>

  <tr>
    <th>School year:</th>
    <td><%= @student_profile.school_year %></td>
  </tr>

  <tr>
    <th>Last completed degree:</th>
    <td><%= @student_profile.last_completed_degree %></td>
  </tr>

  <tr>
    <th>Residential address:</th>
    <td><%= @student_profile.residential_address %></td>
  </tr>

  <tr>
    <th>Major:</th>
    <td><%= @student_profile.major %></td>
  </tr>

  <tr>
    <th>Resume:</th>
    <td><%= @student_profile.resume %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_student_profile_path(@student_profile) %> |
<%= link_to 'Back', student_profiles_path %>

<br/>
<br/>
<br/>

<% if !@student_profile.stu_work_experience.empty? %>
<table>
  <tr>
    <th>Company</th>
    <th>Position</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Job description</th>
    <% if  @user.id == @student_profile.id %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

  <% @work_histories.each do |work_history| %>
  <tr>
    <td><%= work_history.company %>
    </td>
    <td><%= work_history.position %></td>
    <td><%= work_history.start_date %></td>
    <td><%= work_history.end_date %></td>
    <td><% work_history.description%></td>
    <% if @user.id == @student_profile.id %>

  </tr>
</table>
