<p>
  <strong>Name:</strong>
  <%= @student_reference.name %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @student_reference.relationship %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student_reference.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student_reference.email %>
</p>

<%= link_to 'Edit', edit_student_reference_path(@student_reference) %> |
<%= link_to 'Back', student_references_path %>
