<p>
  <b>Name:</b>
  <%= @stu_reference.name %>
</p>

<p>
  <b>Relationship:</b>
  <%= @stu_reference.relationship %>
</p>

<p>
  <b>Phone:</b>
  <%= @stu_reference.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @stu_reference.email %>
</p>

<%= link_to 'Edit', edit_stu_reference_path(@stu_reference) %> |
<%= link_to 'Back', stu_references_path %>
