<% if (user_signed_in? && current_user.user_type == "company") %>
<%= link_to 'New Job Posting', new_job_posting_path, class: "btn btn-link" %>
<% end %>
<% @job_postings.each do |job_posting| %>
<div id='manage_content'>
  <div id ="manage_internship">

    <!--intern_position-->
    <div id="manage_position">
      <dl>
        <dd> Position </dd>
        <dt id="intern_position"><%= job_posting.position %></dt>
        <dt id="intern_position"><%= job_posting.job_description %></dt>
      </dl>
    </div>

    <!-- Single button -->
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "View", job_posting, class: "btn btn-link" %></li>
          <li><%= link_to "Edit", edit_job_posting_path(job_posting), class: "btn btn-link" %></li>
          <li><%= link_to "Destroy", job_posting, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %></li>
        </ul>
      </div>
       <%end%>
  </div>
</div>



