<section>
  <div class="content">

    <% @job_postings.each do |job_posting| %>

    <div class="large-4 medium-4 small-12 columns">
      <div class = 'int'>

        <!--r1 company name | company type _ top bar-->
        <div class="row">
          <div class = "post_top">
          <!-- company name -->
            <div class="large-8 medium-8 small-8 columns">
              <div class="company_name">
                <p><%= "#{job_posting.company_profile.company_name}" %></p>
              </div>
            </div>

            <!-- company_type and location -->
            <div class="large-4 medium-4 small-4 columns">
              <div class="company_type">
                <i class="fa fa-tags"></i><a><%= "#{job_posting.company_profile.company_type}" %></a>
                <i class="divider"><%= '|' %></i>
                <i class="fa fa-globe"></i><a><%= "#{job_posting.company_profile.location}" %></a>
              </div>
            </div>
          </div>
        </div>
        
        <!--r2 company image-->
        <div class = 'row'>
          <div class = "post_mid">
            <div class="large-12 small-12 columns">
              <div class="image_wrapper">
                <div class="company_image">
                  <%= image_tag CompanyProfile.find(job_posting.company_profile.id).image_url %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class ='page_down'>

          <div class = 'row'>
            <div class ='page_down_one'>
            <!--int positions-->
              <div class="large-12 small-12 columns">
                <div class="int_position"><a><%= job_posting.position %></a>
                </div>
              </div>
            </div>
          </div>
       
          
          <!--duration, paid/not, -->
          <div class = 'row'>
            <div class ='page_down_three'>
            <!-- Duration -->
              <div class="large-6 medium-6 small-6 columns">
                <div class="int_dur_paid">
                  <i class="fa fa-calendar"></i><a><%= "#{job_posting.company_profile.number_of_employees}" %></a>
                </div>
              </div>
              <!-- Paid or Unpaid -->
              <div class="large-6 medium-6 small-6 columns">
                <div class="int_dur_paid">
                  <i class="fa fa-usd"></i><a><%= "#{job_posting.job_paid}" %></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <% end %>

    <div class="row">
      <div class="large-9 small-9 small-centered large-centered columns">
        <div class= "button radius large-12 small-12 medium-12">
          <p>MORE</p>
        </div>
      </div>
    </div>

  </div>
</section>


  



<!-- <table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Position</th>
      <th>Job description</th>
      <th>Job start</th>
      <th>Job end</th>
      <th>Posted on</th>
      <th>Position time</th>
      <th>Job</th>
      <th>Job requirements</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_postings.each do |job_posting| %>
      <tr>
        <td><%= job_posting.job_id %></td>
        <td><%= job_posting.position %></td>
        <td><%= job_posting.job_description %></td>
        <td><%= job_posting.job_start %></td>
        <td><%= job_posting.job_end %></td>
        <td><%= job_posting.posted_on %></td>
        <td><%= job_posting.position_time %></td>
        <td><%= job_posting.job_paid %></td>
        <td><%= job_posting.job_requirements %></td>
        <td><%= link_to 'Show', job_posting %></td>
        <td><%= link_to 'Edit', edit_job_posting_path(job_posting) %></td>
        <td><%= link_to 'Destroy', job_posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->


<!--
Job Posted Box:
COMPANY: Company Name, Company Picture/Logo
int: Duration, Location, Industry, Brief Description, int Position
INTERN: View, Save, Share(Facebook, LinkedIn, Twitter)

Job Posted Content
COMPANY: Company Name, Company Picture, Company Location, Company Size, Industry
int: Description, Requirement, ResponsibilityFull int Description,
INTERN: Apply, Save, Follow Company, Share(Facebook, LinkedIn, Twitter)
-->
