<h1>Job Postings</h1>
<div>
  <% @job_postings.each do |job_posting| %>
    <div class="th">
      <div>
        <h3><%= job_posting.position %></h3>
      </div>
      <%= image_tag CompanyProfile.find(job_posting.company_profile.id).image_url(:thumb) %>
      <div>
        <p><%= "#{job_posting.company_profile.company_name}" %></p>
      </div>
      <div>
        <p><%= "#{job_posting.company_profile.location}" %></p>
        <p><%= "#{job_posting.company_profile.company_type}" %></p>
        <p><%= "#{job_posting.company_profile.number_of_employees}" %></p>
      </div>
    </div>
  <% end %>
</div>
<br>