<section>
  <div class="content">
    <p id="notice"><%= notice %></p>
    <div style="overflow: auto">
      <div>
        <h3>Search Intern Postings</h3>
        <%= form_tag search_job_postings_url, :method => 'get' do %>
        <div class="search_postings">
          <div class="row">
            <!-- search_positions -->
            <div class="large-3 medium-3 small-12 columns">
              <div class="search_positions">
                <p>
                  <%= search_field_tag :position_text, @position_text, placeholder: "Position eg. Sales" %>
                </p>
              </div>
            </div>
            <!-- search_description -->
            <div class="large-3 medium-3 small-12 columns">
              <div class="search_description">
                <p>
                  <%= text_field_tag :description_text, @description_text, placeholder: "Description eg. Manage team" %>
                </p>
              </div>
            </div>
            <!-- search_pay -->
            <div class="large-3 medium-3 small-12 columns">
              <div class="search_pay">
                <p>
                  <%= select_tag :paid_text, options_for_select(@pay, @paid_text), placeholder: "Pay" %>
                </p>
              </div> 
            </div>
            <!-- search_requirements-->
            <div class="large-3 medium-3 small-12 columns">
              <div class="search_requirements">
                <p>
                  <%= text_field_tag :requirements_text, @requirements_text, placeholder: "Requirements eg. Statistics" %>
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <a><%= submit_tag 'Search' , class:"button radius large-12 small-12 medium-12" %></a>
          </div>
          <div class="large-6 medium-6 small-6 columns">
            <a><%= submit_tag 'Save Search', class:"button radius large-12 small-12 medium-12", :name => 'save_search'%></a>
          </div>
        </div>
        <% end %>
      </div>
          
        <!--r2 company image-->
        
        <div class="center">
          <div class="row">
          <% if !@return.nil? && !@return.empty? %>
          <h3>Search Results</h3>
          <% @return.each do |job_posting| %>
            <div class="col-md-3">
              <div class="th">
               <%= link_to (image_tag CompanyProfile.find(job_posting.company_profile.id).image_url),company_profile(job_posting.company_profile.id) %>
               <div class="caption">
                <i class="fa fa-calendar"></i><a><%= "#{job_posting.company_profile.number_of_employees}" %></a>
                <i class="fa fa-usd"></i><a><%= "#{job_posting.job_paid}" %></a>
              </div>
              </div>
            </div>
            <% end %>
          </div>
        </div> 
    
        
        
      <% else %>
        <h3>No results.</h3>
      <% end %>

      <div class="row">
        <div class="large-9 small-9 small-centered large-centered columns">
          <div class= "button radius large-12 small-12 medium-12">
            <p>MORE</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>


