<div id='show_content'>

  <!--image-->
  <div id="show_image_wrapper">
      <%= image_tag CompanyProfile.find(@job_posting.company_profile.id).image_url(:thumb)%>
  </div>

  <!--company_name-->
  <div id="company_name">     
    <h3><%= @job_posting.company_profile.company_name %></h3>
  </div>

  <!--  about_company
  <div class="about_company">
    <h4>About Company</h4>
  </div> -->

  <!--intern_position-->
  <div id="intern_position">
    <h2><%= @job_posting.position %></h2>
  </div>

  <div id="intern_duration">
    
      <a id='duration_time'><%= @job_posting.position_time %></a>
      <a id='start_date'>(<%= @job_posting.job_start %></a>
      <a id='end_date'><%= @job_posting.job_end %>)</a>
   
  </div>

  <!--internship_description-->
  <div id="internship_description">
    <h4>Description</h4>
    <p><%= @job_posting.job_description %></p>
  </div>

  <!--internship_requirements-->
  <div id="internship_requirements">
    <h4>Requirements</h4>
    <p><%= @job_posting.job_requirements %></p>
  </div>

  <div id="center">
   <%= link_to "Apply for this internship", new_job_posting_job_application_path(@job_posting) %>
  </div><br>

  <% if (current_user.id == @job_posting.user_id) %>
    <%= link_to 'Edit', edit_job_posting_path(@job_posting) %>|
  <% end %>
  <%= link_to 'Back', job_postings_path %>
</div>