<div id='show_content'>

  
  <div id='mini_job_company_profile'>
    <!--image-->
    <div id="show_image_wrapper">
        <%= image_tag CompanyProfile.find(@job_posting.company_profile.id).image_url(:thumb)%>
    </div>

    <!--company_name-->
    <div id="company_name">     
      <h3><%= @job_posting.company_profile.company_name %></h3>
    </div><hr>
  </div>

  <!--  about_company
  <div class="about_company">
    <h4>About Company</h4>
  </div> -->

  <!--intern_position-->
  <div id="position_container">
    <dl>
      <dd> Position </dd>
      <dt id="intern_position"><%= @job_posting.position %></dt>
    </dl>
  </div>

  <div id="date_location_container">

    <dl>
      <dd> Location </dd>
      <dt id="intern_location"><i class="fa fa-map-marker"></i><%= CompanyProfile.find(@job_posting.company_profile.id).location %></dt>
    </dl>

    <dl>
      <dd> Duration </dd>
      <dt id='duration_time'><i class="fa fa-calendar"></i><%= @job_posting.position_time %></dt>
    </dl>

   <!--  <dl>
      <dd> Start Date </dd>
      <dt id='start_date'>(<%= @job_posting.job_start %></dt>
    </dl>

    <dl>
      <dd> End Date </dd>
      <dt id='end_date'><%= @job_posting.job_end %>)</dt>
    </dl> -->

  </div>

  <!--internship_description-->
  <div id="internship_description">
    <h4>Description</h4>
    <p><%= @job_posting.job_description %></p>
  </div>

  <!--internship_requirements-->
  <div id="internship_requirements">
    <h4>Requirements</h4>
    <p><%= @job_posting.job_requirements %></p>
  </div>

  <div id="center">
   <%= link_to "Apply for this internship", new_job_posting_job_application_path(@job_posting) %>
  </div><br>

  <% if (current_user.id == @job_posting.user_id) %>
    <%= link_to 'Edit', edit_job_posting_path(@job_posting) %>|
  <% end %>
  <%= link_to 'Back', job_postings_path %>
</div>