<header>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <% if current_user.present? %>
          <% if current_user.user_type == "company" %>
            <% if current_user.profile.verified == true %>
              <h1><%= link_to "Stutern", '/student_profiles' %></a></h1>
            <% else %>
              <h1><%= link_to "Stutern", '/' %></a></h1>
            <% end %>
          <% elsif current_user.user_type == "student" %>
            <h1><%= link_to "Stutern", '/job_postings' %></a></h1>
          <% end %>
        <% else %>
          <h1><%= link_to "Stutern", '/' %></a></h1>
        <% end %>
      </li>
    </ul>

    <div >

      <!-- Righthandside navbar -->
      <ul>
        <%= render 'devise/menu/login_items' %>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/common_user_items' %>
      </ul>
    </div>

  </nav>
</header>
